/* ==========================================================================
   Author's custom styles - paula.faria@planb.com.br
   ========================================================================== */

@import "normalize";
@import "bootstrap";


$default-color: #1ABC9C;
$text-color: #FFF;

body{
	background-color: $default-color;
	color: $text-color;
}
h1{
	font-family: 'Lato', sans-serif;
}
header, .main, footer{
	max-width: 1200px;
	margin:auto;
}

input[type="checkbox"]{
	// visibility: hidden;
}